---
import Main from "../components/main.astro";
import Nav from "../components/nav.astro";
import Layout from "../layouts/Layout.astro";
---

<main class="bg-black text-white">
  <Layout>
    <Nav />
    <Main />
  </Layout>
</main>
