<div class="w-full">
  <ul class="flex w-full flex-col items-center justify-between gap-4">
    <li class="w-full rounded-3xl bg-gray-600 p-8 text-center text-white">
      <p>home</p>
    </li>
    <li class="w-full rounded-3xl bg-gray-600 p-8 text-center text-white">
      <p>home</p>
    </li>
    <li class="w-full rounded-3xl bg-gray-600 p-8 text-center text-white">
      <p>home</p>
    </li>
    <li class="w-full rounded-3xl bg-gray-600 p-8 text-center text-white">
      <p>home</p>
    </li>
    <li class="w-full rounded-3xl bg-gray-600 p-8 text-center text-white">
      <p>home</p>
    </li>
    <li class="w-full rounded-3xl bg-gray-600 p-8 text-center text-white">
      <p>home</p>
    </li>
    <li class="w-full rounded-3xl bg-gray-600 p-8 text-center text-white">
      <p>home</p>
    </li>
    <li class="w-full rounded-3xl bg-gray-600 p-8 text-center text-white">
      <p>home</p>
    </li>
  </ul>
</div>
